<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profile</title>
<style>
body{
 font-family:"Segoe UI",sans-serif;
 background:linear-gradient(to bottom,#87ceeb,#b0e0e6);
 min-height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
}
.card{
 background:rgba(255,255,255,.65);
 backdrop-filter:blur(14px);
 padding:30px;
 border-radius:20px;
 width:340px;
 text-align:center;
}
</style>
</head>

<body>
<div class="card">
 <h2>{{ username }}</h2>
 <p>Role: {{ role }}</p>
 <p>Total Songs: {{ total_songs }}</p>
 <a href="/" style="display:block;margin-top:15px">Back Home</a>
</div>
</body>
</html>
